.typography {
  font-family: 'Times New Roman', Times, serif;
  color: midnightblue;
}

img.headshot {
  float: right;
  border-radius: 8px;
  max-width:100%;
  max-height:100%;
}

.border {
  margin: 12px;
  border: 2px solid midnightblue;
  padding: 4px;
  background-color: rgba(218, 211, 200, 0.76);
}

.title {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

h3 {
  background-color: beige;
}